# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Cachés y herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDEs
.idea/
.vscode/

# PyInstaller / builds
build/
dist/

# Sistema operativo
.DS_Store
Thumbs.db
